@model IEnumerable<XiaoQingWa_Work_Model.Entity.UserInfoEntity>
@using XiaoQingWa_Work_Utility
@using XiaoQingWa_Work_Model.Enum

<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">用户名</th>
            <th width="40">性别</th>
            <th width="90">手机</th>
            <th width="150">邮箱</th>
            <th width="">地址</th>
            <th width="130">加入时间</th>
            <th width="70">状态</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="text-c">
                    <td><input type="checkbox" value="@item.UserId" name="UserIds"></td>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td><u style="cursor:pointer" class="text-primary" @*onclick="member_show('张三','member-show.html','10001','360','400')"*@>@Html.DisplayFor(modelItem => item.UserName)</u></td>
                    <td>@(EnumTypeHelper.GetDescriptionByValue<Sex>(item.UserSex))</td>
                    <td>@Html.DisplayFor(modelItem => item.UserPhone)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserMail)</td>
                    <td class="text-l">@Html.DisplayFor(modelItem => item.UserAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                    <td class="td-status">
                        @if (item.UserState == 0)
                        {
                            <span class="label radius">@(EnumTypeHelper.GetDescriptionByValue<UserStatu>(item.UserState))</span>
                        }
                        else
                        {
                            <span class="label label-success radius">@(EnumTypeHelper.GetDescriptionByValue<UserStatu>(item.UserState))</span>
                        }
                    </td>
                    <td class="td-manage">

                        @if (item.UserState == 0)
                        {
                            <a style="text-decoration:none" onClick="member_stop(1,@item.UserId)" href="javascript:;" title="启用">
                                <i class="Hui-iconfont">&#xe615;</i>
                            </a>
                        }
                        else
                        {
                            <a style="text-decoration:none" onClick="member_stop(0,@item.UserId)" href="javascript:;" title="停用">
                                <i class="Hui-iconfont">&#xe631;</i>
                            </a>
                        }

                        <a title="编辑" href="javascript:;" onclick="layer_show('编辑','@Url.Action("CreateUser")?userid=@item.UserId','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','@Url.Action("ChangePassWord")',@item.UserId,'600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>
                        <a title="删除" href="javascript:;" onclick="member_del(@item.UserId)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan='8'>
                    <span style='color: #FF8C40'>暂无数据显示</span>
                </td>
            </tr>
        }
    </tbody>
</table>
@section pagescripts{
    <script type="text/javascript">
        $(function () {
            $('.table-sort').dataTable({
                "aaSorting": [[1, "desc"]],//默认第几个排序
                "bStateSave": true,//状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 1 ]}, //控制列的隐藏显示
                    { "orderable": false, "aTargets": [0, 8, 9] }// 制定列不参与排序
                ]
            });
        });
        
    </script>

}